<h1>Books</h1>
<div *ngFor="let book of books$ | async">
    <h2>{{ book.bookName }}</h2>
    <h3>{{ book.bookAuthor }}</h3>
    <h3>{{ book.bookPrice }}</h3>
    <button (click)="removeBook(book.bookId)">Remove Book</button>
</div>
<h2>Create a new book</h2>
<div>
    <input #bookId type="text" placeholder="Book ID"/>
    <input #bookName type="text" placeholder="Book Name"/>
    <input #bookAuthor type="text" placeholder="Book Author"/>
    <input #bookPrice type="number" placeholder="Book Price"/>
    <button (click)="addBook(bookId.value, bookName.value, bookAuthor.value, +bookPrice.value)">Add Book</button>
</div>